header {
  margin-top: 30px;
  background-color: black;
}
header div {
  color: green;
}

.problem_list {
  background-color: black;
}
/* ここから問題一覧 */
.problem_list_title {
  margin-top: 0;
}
.problem_list_content {
  color: green;
}
/* ここまで問題一覧 */

/* ここから問題削除 */
.problem_button {
  display: flex;
}
.problem_list_delete_button,
.problem_list_update_button,
.logout {
  margin: 0 auto;
  display: block;
  color: black;
  background-color: red;
}
a {
  color: black;
  text-decoration: none;
}

/* ここまで問題削除 */

/* ここから問題作成 */
form {
  margin-bottom: -16px;
}
.problem_create {
  background-color: black;
  padding-left: 30px;
  margin-bottom: 16px;
}
.problem_choices {
  width: 100%;
}
.problem_choices_content {
  display: flex;
}
.problem_create_title,
.problem_create_content,
.problem_number,
.problem_content,
.problem_image,
.problem_support,
.problem_create_subtitle,
.choice_left,
.choice_center,
.choice_right,
.choice_correct {
  color: green;
  margin-top: 5px;
}
.problem_create_content_button {
  margin: 0 auto;
  display: block;
  color: black;
  background-color: red;
}
h3 {
  color: green;
  margin: 0;
}

/* ここまで問題作成 */
/* ここから問題更新 */
.problem_update {
  background-color: black;
  padding-left: 30px;
}
.problem_update_subtitle {
  color: green;
  margin-top: 5px;
}
/* ここまで問題更新 */