/* headerのcss */
.header {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
}
.l-header {
  display: flex;
  padding: 15px 24px;
  background-color: white;
  height: 60px;
  position: relative;
}

.l-header_img {
  vertical-align: middle;
  margin-top: 10px;
}
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: 0;
  border-radius: 0;
  color: inherit;
  cursor: pointer;
  font: inherit;
  margin: 0;
  outline: none;
  padding: 0;
  vertical-align: middle;
}
.burger_button {
  display: block;
  width: 39px;
  height: 39px;
  position: absolute;
  top: 25px;
  right: 30px;
  z-index: 3;
  border:none;
}
.bar {
  width: 20px;
  height: 1px;
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
}
.bar_top {
  top: 10px;
}
.bar_middle {
  top: 50%;
  transform: translate(-50%, -50%);
}
.bar_bottom {
  bottom: 10px;
}

.burger_button.close .bar_top {
  transform: translate(-50%,10px) rotate(45deg);
  transition: transform .3s;
}
.burger_button.close .bar_middle {
  opacity: 0;
  transition: opacity .3s;
}
.burger_button.close .bar_bottom {
  transform: translate(-50%,-8px) rotate(-45deg);
  transition: transform .3s;
}
.l-header_nav {
  display: flex;
  margin-left: auto;
  align-content: center;

}

.l-header_nav_url_list {
  display: flex;
  font-size: 14px;
  gap: 30px;
  padding-top: 2px;
  list-style: none;
}

.l-header_nav_url_list_item {
  font-weight: bold;
  font-size: 14px;
  color: #666;
  letter-spacing: 0.1em;
}

.l-header_nav_sns {
  display: flex;
  gap: 20px;
  margin-top: -1px;
}

.l-header_nav_sns_list {
  display: flex;
  align-items: center;
  border: solid 1px #eee;
  border-radius: 50%;
  color: #adadad;
  display: inline-flex;
  font-size: 24px;
  height: 50px;
  justify-content: center;
  width: 50px;
}

.l-header_nav_sns_list_icon {
  padding-top: 5px;
}

/* l-topのcss */
main {
  margin-top: 60px;
}
.l-top {
  margin-top: -10px;
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
  height: 320px;
  /* padding-top: 110px;
  padding-bottom: 70px; */
}
.l-top_container {
  background-image: url(bg-hero.jpg);
  width: 100%;
  background-size: cover;
  height: 350px;
  background-repeat: initial;
  /* margin-left: 30px; */
  position: relative;
}
.l-top_container_title {
  position: absolute;
  top: 115px;
  margin: 20px 20px;
}
.l-top_container_title_label {
  margin: 0;
  color: #fff;
  font-size: 18px;
}
.l-top_container_title_title {
  font-size: 60px;
  color: #fff;
  display: block;
  line-height: 1.8;
}

.main {
  margin: 0px 16px;
  max-width: 999px;
}
/* question1のcss */
.question1 {
  box-sizing: solid;
  border-width: 0;
  box-sizing: border-box;
  justify-content: center;
  margin-top: 60px;
}
.question1_quiz_title_label,
.question2_quiz_title_label,
.question3_quiz_title_label,
.question4_quiz_title_label,
.question5_quiz_title_label,
.question6_quiz_title_label {
  background-color: #0071bc;
  border-radius: 8px;
  color: #fff;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.5;
  padding: 8px 16px;
  display: inline-block;
  text-align: center;
}
.question1_quiz_title_text,
.question2_quiz_title_text,
.question3_quiz_title_text,
.question4_quiz_title_text,
.question5_quiz_title_text,
.question6_quiz_title_text {
  display: block;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.5;
  margin-top: 24px;
}
.question1_quiz_title_image {
  margin: 64px auto 0;
  max-width: 720px;
}
.question1_quiz_title_img {
  max-width: 100%;
}
.question1_answer {
  margin-top: 60px;
}
.question1_answer_label,
.question2_answer_label,
.question3_answer_label, 
.question4_answer_label, 
.question5_answer_label, 
.question6_answer_label {
  background-color: #e34e70;
  border-radius: 8px;
  color: #fff;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.5;
  padding: 8px 16px;
  display: inline-block;
  text-align: center;
}
.question1_answer_list {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 16px;
  list-style: none;
  padding: 0;
}
.question1_answer_list_item,
.question2_answer_list_item, 
.question3_answer_list_item, 
.question4_answer_list_item, 
.question5_answer_list_item, 
.question6_answer_list_item {
  display: list-item;
  cursor: pointer;
  margin-bottom: 8px;
}
.question1_answer_list_item_button {
  align-items: center;
  border: solid 5px #eee;
  background-color: white;
  border-radius: 5px;
  display: flex;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.8;
  padding: 20px;
  width: 100%;
  cursor: pointer;
}

.question1_answer_list_item_button_icon {
  margin-left: auto;
}

.question1_answer_correct_content {
  gap: 18px;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: baseline;
  line-height: 1.8;
  margin-top: 16px;
}

.question1_note {
  align-items: center;
  background-color: #f6f6f6;
  border-radius: 8px;
  display: block;
  display: flex;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  gap: 16px;
  line-height: 1.8;
  margin-top: 16px;
  padding: 24px;
}

.js_answer1_box,
.js_answer2_box,
.js_answer3_box,
.js_answer4_box,
.js_answer5_box,
.js_answer6_box {
  background-color: #fff2f5;
  border-radius: 8px;
  padding: 10px 40px 0px 40px;
  margin-top: 16px;
  display: none;
}
.question1_answer_correct,
.question2_answer_correct,
.question3_answer_correct,
.question4_answer_correct,
.question5_answer_correct,
.question6_answer_correct {
  background-color: #fff2f5;
  border-radius: 8px;
  margin-top: 16px;
  padding: 10px 40px 5px 40px;
  border: 2px solid #fff2f5;
  display: block;
}
.question1_answer_incorrect,
.question2_answer_incorrect,
.question3_answer_incorrect,
.question4_answer_incorrect,
.question5_answer_incorrect,
.question6_answer_incorrect {
  background-color: #eff2f5;
  border: 2px solid #eff2f5;
  border-radius: 8px;
  margin-top: 16px;
  padding: 10px 40px 5px 40px;
  display: block;
}
.question1_answer_correct_title,
.question2_answer_correct_title,
.question3_answer_correct_title,
.question4_answer_correct_title,
.question5_answer_correct_title,
.question6_answer_correct_title {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.05em;
  line-height: 1.5;
  color: #c8647c;
  display: none;
}
.question1_answer_incorrect_title,
.question2_answer_incorrect_title,
.question3_answer_incorrect_title,
.question4_answer_incorrect_title,
.question5_answer_incorrect_title,
.question6_answer_incorrect_title {
  color: #0071bc;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.05em;
  line-height: 1.5;
  display: none;
}
.question1_answer_correct_content_label {
  font-size: 24px;
}


/* question2のcss */
.question2 {
  box-sizing: solid;
  border-width: 0;
  box-sizing: border-box;
  justify-content: center;
  margin-top: 60px;
}

.question2_quiz_title_image {
  margin: 64px auto 0;
  max-width: 720px;
}
.question2_quiz_title_img {
  max-width: 100%;
}
.question2_answer {
  margin-top: 60px;
}

.question2_answer_list {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 16px;
  list-style: none;
  margin: 30px 0 0 0;
  padding: 0;
}

.question2_answer_list_item_button {
  align-items: center;
  border: solid 5px #eee;
  background-color: white;
  border-radius: 5px;
  display: flex;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.8;
  padding: 20px;
  width: 100%;
  cursor: pointer;
}
.question2_answer_list_item_button_icon {
  margin-left: auto;
}

.question2_note {
  align-items: center;
  background-color: #f6f6f6;
  border-radius: 8px;
  display: block;
  display: flex;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  gap: 16px;
  line-height: 1.8;
  margin-top: 16px;
  padding: 24px;
}
.question2_answer_correct_title {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.05em;
  line-height: 1.5;
}
.question2_answer_correct_content {
  align-items: baseline;
  display: flex;
  font-size: 18px;
  font-weight: bold;
  gap: 18px;
  line-height: 1.8;
  margin-top: 16px;
}
.question2_answer_correct_content_label {
  font-size: 24px;
}
/* question3のcss */
.question3 {
  box-sizing: solid;
  border-width: 0;
  box-sizing: border-box;
  justify-content: center;
  margin-top: 60px;
}

.question3_quiz_title_image {
  margin: 64px auto 0;
  max-width: 720px;
}
.question3_quiz_title_img {
  max-width: 100%;
}
.question3_answer {
  margin-top: 60px;
}
.question3_answer_list {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 16px;
  list-style: none;
  margin: 30px 0 0 0;
  padding: 0;
}
.question3_answer_list_item_button {
  align-items: center;
  border: solid 5px #eee;
  background-color: white;
  border-radius: 5px;
  display: flex;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.8;
  padding: 20px;
  width: 100%;
  cursor: pointer;
}
.question3_answer_list_item_button_icon {
  margin-left: auto;
}

.question3_note {
  align-items: center;
  background-color: #f6f6f6;
  border-radius: 8px;
  display: block;
  display: flex;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  gap: 16px;
  line-height: 1.8;
  margin-top: 16px;
  padding: 24px;
}
.question3_answer_correct_title {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.05em;
  line-height: 1.5;
}
.question3_answer_correct_content {
  align-items: baseline;
  display: flex;
  font-size: 18px;
  font-weight: bold;
  gap: 18px;
  line-height: 1.8;
  margin-top: 16px;
}
.question3_answer_correct_content_label {
  font-size: 24px;
}
/* queetion4のcss */
.question4 {
  box-sizing: solid;
  border-width: 0;
  box-sizing: border-box;
  justify-content: center;
  margin-top: 60px;
}

.question4_quiz_title_image {
  margin: 64px auto 0;
  max-width: 720px;
}
.question4_quiz_title_img {
  max-width: 100%;
}
.question4_answer {
  margin-top: 60px;
}

.question4_answer_list {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 16px;
  list-style: none;
  margin: 30px 0 0 0;
  padding: 0;
}

.question4_answer_list_item_button {
  align-items: center;
  border: solid 5px #eee;
  background-color: white;
  border-radius: 5px;
  display: flex;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.8;
  padding: 20px;
  width: 100%;
  cursor: pointer;
}
.question4_answer_list_item_button_icon {
  margin-left: auto;
}
.question4_note {
  align-items: center;
  background-color: #f6f6f6;
  border-radius: 8px;
  display: block;
  display: flex;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  gap: 16px;
  line-height: 1.8;
  margin-top: 16px;
  padding: 24px;
}
.question4_answer_correct_title {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.05em;
  line-height: 1.5;
}
.question4_answer_correct_content {
  align-items: baseline;
  display: flex;
  font-size: 18px;
  font-weight: bold;
  gap: 18px;
  line-height: 1.8;
  margin-top: 16px;
}
.question4_answer_correct_content_label {
  font-size: 24px;
}
/* question5のcss */
.question5 {
  box-sizing: solid;
  border-width: 0;
  box-sizing: border-box;
  justify-content: center;
  margin-top: 60px;
}


.question5_quiz_title_image {
  margin: 64px auto 0;
  max-width: 720px;
}
.question5_quiz_title_img {
  max-width: 100%;
}
.question5_answer {
  margin-top: 60px;
}

.question5_answer_list {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 16px;
  list-style: none;
  margin: 30px 0 0 0;
  padding: 0;
}

.question5_answer_list_item_button {
  align-items: center;
  border: solid 5px #eee;
  background-color: white;
  border-radius: 5px;
  display: flex;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.8;
  padding: 20px;
  width: 100%;
  cursor: pointer;
}
.question5_answer_list_item_button_icon {
  margin-left: auto;
}
.question5_note {
  align-items: center;
  background-color: #f6f6f6;
  border-radius: 8px;
  display: block;
  display: flex;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  gap: 16px;
  line-height: 1.8;
  margin-top: 16px;
  padding: 24px;
}
.question5_answer_correct_title {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.05em;
  line-height: 1.5;
}
.question5_answer_correct_content {
  align-items: baseline;
  display: flex;
  font-size: 18px;
  font-weight: bold;
  gap: 18px;
  line-height: 1.8;
  margin-top: 16px;
}
.question5_answer_correct_content_label {
  font-size: 24px;
}
/* question6のcss */
.question6 {
  box-sizing: solid;
  border-width: 0;
  box-sizing: border-box;
  justify-content: center;
  margin-top: 60px;
}

.question6_quiz_title_image {
  margin: 64px auto 0;
  max-width: 720px;
}
.question6_quiz_title_img {
  max-width: 100%;
}
.question6_answer {
  margin-top: 60px;
}

.question6_answer_list {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 16px;
  list-style: none;
  margin: 30px 0 0 0;
  padding: 0;
}
.question6_answer_list_item_button {
  align-items: center;
  border: solid 5px #eee;
  background-color: white;
  border-radius: 5px;
  display: flex;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.8;
  padding: 20px;
  width: 100%;
  cursor: pointer;
}
.question6_answer_list_item_button_icon {
  margin-left: auto;
}
.question6_note {
  align-items: center;
  background-color: #f6f6f6;
  border-radius: 8px;
  display: block;
  display: flex;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  gap: 16px;
  line-height: 1.8;
  margin-top: 16px;
  padding: 24px;
}
.question6_answer_correct_title {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.05em;
  line-height: 1.5;
}
.question6_answer_correct_content {
  align-items: baseline;
  display: flex;
  font-size: 18px;
  font-weight: bold;
  gap: 18px;
  line-height: 1.8;
  margin-top: 16px;
}
.question6_answer_correct_content_label {
  font-size: 24px;
}
/* l-lineのcss */
.l-line {
  max-width: 999px;
  margin: 0 auto;
  padding: 0px 16px;
}
.l-line_main {
  width: 100%;
  height: 300px;
  margin: 0 auto;
  position: relative;
  background-image: url(bg-line.jpg);
  background-size: cover;
  border-radius: 45px;
  margin-top: 140px;
  margin-bottom: 60px;
}
.l-line_main::before {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 300px;
  content: "";
  border-radius: 45px;
  background-color: rgba(0, 113, 188, 0.9);
}
.l-line_main_info {
  opacity: 0.8;
  border-radius: 45px;
  height: 260px;
  padding: 20px;
}
.l-line_main_info_top {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.l-line_main_info_top_img {
  width: 40px;
  height: 40px;
  background: radial-gradient(#fff 60%, transparent 60%);
}
.l-line_main_info_top_title {
  color: white;
  letter-spacing: 0.1em;
}
.l-line_main_info_main {
  color: white;
}
.l-line_main_info_footer {
  text-align: center;
  margin-top: 15px;
}
.l-line_main_info_footer_link {
  background-color: white;
  border-radius: 50px;
  width: 100%;
  display: inline-block;
  color: #333;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 1.8;
  padding: 12px;
  position: relative;
  max-width: 320px;
}
.l-line_main_info_footer_img {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translate(0, -50%);
}
/* footerのcss */

.l-footer_line_link {
  align-items: center;
  background-color: #5fdf5b;
  border-radius: 16px;
  box-shadow: 4px 4px 20px rgb(0 0 0 / 15%);
  display: flex;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.l-footer_line_link_icon {
  font-size: 36px;
  padding-top: 8px;
}
.l-footer_line_link_icon_img {
  width: 36px;
  height: 36px;
  background: radial-gradient(#fff 60%, transparent 60%);
}
.l-footer_line_link_icon_link {
  margin-left: 30px;
  color: white;
}
.l-footer_line_link_icon_link_img {
  color: #fff;
}
.l-footer_line_link_info {
  color: #fff;
  margin-left: 12px;
}
.l-footer_main {
  border: solid 1px #eee;
}

.l-footer_main_info {
  margin-top: 50px;
}

.l-footer_main_info_img {
  display: block;
  margin: 0 auto;
}
.l-footer_main_info_img_link {
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  width: 130px;
  height: 25px;
  color: #666;
}

.l-footer_main_sns_list {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-left: -50px;
  margin-top: 40px;
}

.l-footer_main_sns_list_item {
  list-style: none;
  border: solid 1px #eee;
  border-radius: 30px;
  align-items: center;
  display: inline-flex;
  font-size: 24px;
  height: 50px;
  justify-content: center;
  width: 50px;
}
.l-footer_main_sns_list_item_img {
  padding-top: 5px;
}

.l-footer_copyright {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
/* レスポンシブデザイン 768px以上の時 */
@media (min-width: 768px) {
  .burger_button {
    display: none;
  }
  .l-footer_line {
    position: fixed;
    bottom: 30px;
    right: 20px;
    height: 80px;
    width: 280px;
  }
  .l-footer_main {
    height: 300px;
  }
  .l-line_main_info_top_title {
    font-size: 36px;
  }
  .l-line_main_info_main {
    text-align: center;
    line-height: 1.8;
  }
}
/* レスポンシブデザイン 767px以下の時*/
@media (max-width: 767px) {
  /* header */
  .l-header {
    height: 56px;
  }
  .l-header_nav {
    /* display: none; */
    width: 0;
  }
  /* mainのtop */
  .l-top_container_title_label{
    font-size: 14px;
  }

  .l-top_container_title_title {
    font-size: 28px;
  }

  .l-top_container {
    background-image: url(bg-hero.jpg);
    background-position-x: center;
    background-position-y: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  /* main(問題) */
  main {
    margin-top: 0px;
  }
  .main {
    padding: 0 16px;
    margin-top: -60px;
  }

  .question1_quiz_title_label,
.question2_quiz_title_label,
.question3_quiz_title_label,
.question4_quiz_title_label,
.question5_quiz_title_label,
.question6_quiz_title_label {
  font-size: 24px;
}

  .question1_answer_list, 
  .question2_answer_list, 
  .question3_answer_list, 
  .question4_answer_list, 
  .question5_answer_list, 
  .question6_answer_list {
    display: block;
  }

  .question1_quiz_title_text,
  .question2_quiz_title_text,
  .question3_quiz_title_text,
  .question4_quiz_title_text,
  .question5_quiz_title_text,
  .question6_quiz_title_text {
    font-size: 18px;
  }

  .question1_answer_label,
.question2_answer_label,
.question3_answer_label, 
.question4_answer_label, 
.question5_answer_label, 
.question6_answer_label {
  font-size: 24px
}

/* line */
  .l-line_main_info_top {
    display: block;
  }
  .l-line_main_info_top_img {
    display: block;
    margin: 10px auto;
  }
  .l-line_main_info_main {
    line-height: 1.6;
  }

  .l-line_main_info_top_title {
    text-align: center;
    margin: 0px;
  }
  /* footer */ 
  .l-footer_inner {
    padding: 30px ;
  }
  .l-footer_main_info_img_link {
    margin-top: 30px;
  }

  /* footerのline */
  .l-footer_line {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
  }
  .l-footer_line_link {
    gap: 8px;
    border-radius: 0;
    justify-content: center;
    padding: 0 0;
  }
  .l-footer_line_link_info {
    margin-left: 0;
  }
  .l-footer_line_link_info br {
    display: none;
  }
  .l-footer_line_link_info_posse {
    display: none;
  }
  .l-footer_line_link_icon_link {
    margin-left: 0;
  }
};