/* header */
.header {
  display: flex;
  height: 60px;
}

.header_logo {
  margin: auto 30px;
}

.header_week {
  margin: auto 10px;
}
.header_week_4th {
  list-style: none;
  color: gray;
}

.header_record {
  margin-left: auto;
  margin-right: 30px;
  margin-top: 10px;
}

#header_record_button,
.modal_record {
  width: 180px;
  height: 40px;
  border-radius: 50px;
  box-shadow: 5px 5px 5px rgb(98, 179, 237, 0.8);
  color: white;
  background: linear-gradient(to right, rgb(99, 138, 230), rgb(7, 168, 237));
}

.modal_record {
  position: absolute;
  bottom: 5%;
  left: 40%;
  right: 40%;
}


/* モーダル作成 */
.modal {
  display: none;
}

.modal_active {
  display: block;
}
.modal:before {
  content: "";
  /* display: block; */
  background-color: rgba(0, 0, 0, .3);
  position: absolute;
  inset: 0;
}

.modal_content {
  position: absolute;
  min-width: 500px;
  min-height: 500px;
  text-align: center;
  border-radius: 8px;
  padding: 20px;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  height: 70%;
}

.modal_close {
  position: absolute;
  top: 5%;
  right: 5%;
  background-color: rgba(117, 111, 111, 0.047);
  border-radius: 15px;
  width: 30px;
  height: 30px;
}

.modal_detail {
  height: 500px;
  display: flex;
}
.modal_detail_left {
  width: 50%;
  height: 85%;
  margin-top: 20px;
}
.modal_detail_right {
  width: 50%;
  height: 85%;
  margin-top: 20px;
}
/* モーダル、カレンダーを閉じるばつ印の作成 */
.batsu {
  display: block;
  position: relative;
}

.batsu::before, .batsu::after { /* 共通設定 */
  content: "";
  position: absolute;
  border-radius: 1px;
  top: 50%;
  left: 50%;
  width: 5px; /* 棒の幅（太さ） */
  height: 20px; /* 棒の高さ */
  background: #333;
}

.batsu::before {
  transform: translate(-50%,-50%) rotate(45deg);
}

.batsu::after {
  transform: translate(-50%,-50%) rotate(-45deg);
}
/* 学習日 */
.modal_learning_day {
  height: 20%;
}
.modal_learning_day_detail {
  border-radius: 5px;
}
.learning_day_title {
  text-align: left;
  margin-left: 20px;
  margin-bottom: 5px;
}
#learning_day_detail {
  width: 80%;
  border-radius: 10px;
  height: 35px;
  border-color: rgba(117, 111, 111, 0.047);
  background-color: rgba(117, 111, 111, 0.047);
}
/* 学習日押した時に表示されるカレンダー作成 */
.calender {
  display: none;
}
.calender_active {
  display: block;
}
.calender:before {
  content: "";
  /* display: block; */
  background-color: rgba(0, 0, 0, .3);
  position: absolute;
  inset: 0;
}
.calender_decide {
  width: 200px;
  height: 40px;
  border-radius: 50px;
  box-shadow: 5px 5px 5px rgb(98, 179, 237, 0.8);
  color: white;
  background: linear-gradient(to right, rgb(99, 138, 230), rgb(7, 168, 237));
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}
/* ↑ここに大きさ指定入れるとめんどいので入れないで */

.calender_content {
  position: absolute;
  min-width: 500px;
  min-height: 400px;
  text-align: center;
  border-radius: 8px;
  padding: 20px;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  height: 70%;
}

#calender_close {
  position: absolute;
  top: 5%;
  left: 5%;
  background-color: rgba(117, 111, 111, 0.047);
  border-radius: 15px;
  width: 30px;
  height: 30px;
}

#prev,
#next {
  color: #5070e3;
}
#prev,
#next,
#today {
  cursor: pointer;
  user-select: none;
}
tr {
  padding: 10px;
}
td.disabled {
  opacity: 0.3;
}
td.today {
  font-weight: bold;
}
.weekday {
  color: rgba(118, 174, 226, 0.571);
}

table {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  width: 60%;
  height: 70%;
}
/* 学習コンテンツ */
.modal_learning_content {
  height: 30%;
}
.learning_content_title {
  text-align: left;
  margin-left: 20px;
}

.modal_learning_content_detail {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
  gap: 20px;
}
.modal_N ,
.modal_dot,
.modal_Posse,
.modal_html,
.modal_css,
.modal_js,
.modal_php,
.modal_laravel,
.modal_sql,
.modal_shell,
.modal_others{
  border-radius: 5px;
  border: solid;
  border-color: rgba(117, 111, 111, 0.047);
  background-color: rgba(117, 111, 111, 0.047);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
}
/* 学習言語 */
.learning_language_title {
  text-align: left;
  margin-left: 20px;
}
.learning_language_content {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
  gap: 20px;
}
.modal_learning_language {
  height: 45%;
  margin-top: 20px;
}

/* 学習時間 */
.modal_learning_time {
  height: 20%;
}
.learning_time_title {
  text-align: left;
  margin-left: 20px;
  margin-bottom: 5px;
}
.learning_time_title_detail {
  width: 80%;
  border-radius: 10px;
  height: 30px;
  border-color: rgba(117, 111, 111, 0.047);
  background-color: rgba(117, 111, 111, 0.047);
}
/* Twitter用コメント */
.modal_comment {
}
.comment_title {
  text-align: left;
  margin-left: 20px;
}
.comment_title_detail {
  border-radius: 10px;
  border-color: rgba(117, 111, 111, 0.047);
  background-color: rgba(117, 111, 111, 0.047);
  width: 80%;
}
/* main */
.main {
  background-color: rgba(117, 111, 111, 0.047);
  height: 650px;
}
.container {
  position: relative;
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  gap: 20px;
  padding-top: 30px;
  grid-template-columns: repeat(2, 1fr);
}

.hours_container {
  display: grid;
  gap: 20px;
}

.hours {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  height: 110px;
  padding: 0;
  margin: 0;
}

.today_hours{
  background-color: white;
  list-style: none;
  border-radius: 8px;
  margin-top: 0px;
  padding: 0;
  text-align: center;
  height: 110px;
  gap: 10px;
}

.month_hours{
  background-color: white;
  list-style: none;
  border-radius: 8px;
  margin-top: 0px;
  padding: 0;
  text-align: center;
  height: 110px;
}

.total_hours{
  background-color: white;
  list-style: none;
  border-radius: 8px;
  margin-top: 0px;
  padding: 0;
  text-align: center;
  height: 110px;
}

.hours_title{
  padding-top: 10px;
  padding-bottom: 10px;
  color: rgba(25, 72, 243, 0.605);
  font-weight: 600;
}

.hours_count {
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 28px;
}

.hours_hour {
  padding-bottom: 10px;
  color: gray;
}

#hours_chart {
  background-color: white;
  height: 400px;
  border-radius: 9px;
}

.learning {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  height: 530px;
}

.learning_character {
  background-color: white;
  border-radius: 10px;
}

.learning_content {
  background-color: white;
  border-radius: 10px;
}

.learning_title {
  font-weight: bold;
  margin-top: 30px;
  margin-left: 10px;
  font-size: 20px;
}

.arrow {
  position: relative;
  display: inline-block;
  padding: 10px;
}

.arrow::before {
  content: '';
  width: 10px;
  height: 10px;
  border-top: solid 2px #5070e3;
  border-right: solid 2px #5070e3;
  position: absolute;
  left: 10px;
  top: 8px;
}

.date {
  display: flex;
  text-align: center;
  vertical-align: middle;
}

.date_detail {
  vertical-align: center;
}

.arrow-left {
  margin: 0 auto;
}

.arrow-right {
  margin: 0 auto;
}
.arrow.arrow-left::before {
  transform: rotate(-135deg);
}

.arrow.arrow-right::before {
  transform: rotate(45deg);
}




/* checkobox */
/* 途中で断念 */
.checkbox {
  content: '';
  width: 10px;
  height: 5px;
  border-left: 3px solid #9c9c9c;
  border-bottom: 3px solid #9c9c9c;
  transform: rotate(-45deg);
}


