/* body headerのcss */
.p-header_nav-list-item {
  display: list-item; 
  list-style: none;
  /* border: none; */
}
.l-header {
  display: flex; 
  padding: 15px 24px;
  align-items: center;
}
.p-header_nav-list{
  display: flex;
  gap: 32px;
}
.p-header_nav-list-item-link{
  color: #666;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}
nav {
  display: block;
  margin-left: auto;
}
.p-sns{
gap: 16px;
display: flex;
}
.p-sns-item{
  list-style: none;
}
.p-sns-item-link{
  align-items: center;
  border: solid 1px #eee;
  border-radius: 50%;
  color: #adadad;
  display: inline-flex;
  font-size: 24px;
  height: 50px;
  justify-content: center;
  width: 50px;
}
