@use '../../foundation/variables' as *;

.p-hero {
  padding: 60px 16px 32px;

  @include mq(md) {
    padding: 110px 0 76px;
  }

  &__title {
    color: $color-light;
    font-weight: bold;
  }

  &__title__label {
    font-size: 14px;
    line-height: 1.8;

    @include mq(md) {
      font-size: 18px;
    }
  }

  &__title__inline {
    display: block;
    font-size: 28px;
    line-height: 1.5;

    @include mq(md) {
      margin-top: 12px;
      font-size: 60px;
    }
  }
}
